/ProyectoWeb/ProyectoWeb/nbproject/private/
/ProyectoWeb/build/
/ProyectoWeb/dist/
/EnOfCourseProject/nbproject/private/
/EndOfCourse/nbproject/private/
/EndOfCourse/build/
/EndOfCourse/dist/
/EmptyProject/nbproject/private/
/EmptyProject/build/
/ProyectoSO/nbproject/private/
/ProyectoSO/build/
/ProyectoSO/dist/